@font-face {
    font-family: motley-forces;
    src: url(MotleyForcesRegular-w1rZ3.ttf);
}
  
@font-face {
    font-family: shalma;
    src: url(Shalma-Rp0Pe.otf);
}

* {
    color: white;
}

body {
	background-color: black;
}

@keyframes button-animation {
    0%   {border-color:#fc605b; color:#fc605b; left:0px; top:0px;}
    10%  {border-color:#fcb15b; color:#fcb15b; left:200px; top:0px;}
    20%  {border-color:#fce75b; color:#fce75b; left:200px; top:200px;}
    30%  {border-color:#c7e8ae; color:#c7e8ae; left:200px; top:200px;}
    40%  {border-color:#a3d1a6; color:#a3d1a6; left:0px; top:200px;}
    50%  {border-color:#add9d1; color:#add9d1; left:0px; top:200px;}
    60%  {border-color:#a3c4e6; color:#a3c4e6; left:0px; top:0px;}
    70%  {border-color:#a3aae6; color:#a3aae6; left:0px; top:0px;}
    80%  {border-color:#c3a3e6; color:#c3a3e6; left:0px; top:0px;}
    90%  {border-color:#e1a3e6; color:#e1a3e6; left:0px; top:0px;}
    100% {border-color:#fc605b; color:#fc605b; left:0px; top:0px;}
}

@keyframes title-animation {
    0%   {color:#fc605b; left:0px; top:0px;}
    10%  {color:#fcb15b; left:200px; top:0px;}
    20%  {color:#fce75b; left:200px; top:200px;}
    30%  {color:#c7e8ae; left:200px; top:200px;}
    40%  {color:#a3d1a6; left:0px; top:200px;}
    50%  {color:#add9d1; left:0px; top:200px;}
    60%  {color:#a3c4e6; left:0px; top:0px;}
    70%  {color:#a3aae6; left:0px; top:0px;}
    80%  {color:#c3a3e6; left:0px; top:0px;}
    90%  {color:#e1a3e6; left:0px; top:0px;}
    100% {color:#fc605b; left:0px; top:0px;}
}

.header {
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 120px;
}

.header h2 {
    font-family: motley-forces;
    float: left;
    margin-top: 15px;
    padding-left: 40px;
    font-size: 5.0em;

    animation-name: title-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.header a{
    float: right;
    padding-right: 50px;
    margin-top: 15px;
    font-size:  9.0em;
}

.header #instructions {
    width: 10px;
    height: 10px;
    border: none;
    margin: 0px;
    padding: 0px;

    float: right;
    padding-right: 330px;
    margin-top: 15px;
    font-size:  9.0em;

    /* animation code from stack overflow */
    -o-transition: none;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a {
    font-family: shalma;
    font-size:  3.8em;
    outline: none;
    text-decoration: none;

    /* animation code from stack overflow */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:hover,  #instructions:hover {
    animation-name: title-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*s css*/
#circleCanvas{
	position: absolute;
    top: 140px;
    left: 3%;
}

#input-div{
    position: absolute;
	top: 130px;
    left: 57%;
}

button {
    background-color:  black;
    color: white;
    width: 400px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 30px;

    font-family: shalma;
    font-size:  8.0em;
    outline: none;
    text-decoration: none;
    text-align: center;

    /* animation code from stack overflow */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.input{
	font-size: 30px;
    margin: 10px;
    background-color:  black;
    text-align: center;
    padding: 5px;

    width: 100px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 23px;
    margin-top: 10px;

    font-family: serif;
    font-size:  2.3em;
    outline: none;
    text-decoration: none;

}

#color-guide {
    height: 550px;
    width: 60px;
    float: right;
    text-align: center;

    padding-top: 60px;
    margin-right: 5%;
    margin-top: -6px;
    background: linear-gradient(to bottom, 
    #00cc66 0%, 
    #ff3300 14.29%,
    #ff6666 28.57%,
    #ff66ff 42.86%,
    #9966ff 57.14%,
    #6666ff 71.43%,
    #3399ff 85.71%,
    #99ccff 100%);
}

.color-guide-label {
    color: black;
    font-family: shalma;
    font-size: 8.0em;
    margin-top: -50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: -120px;
    width: 100%;
    height: 10000px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    color: black;
    height: 600px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#instruction-message {
    color: black;
    font-family: serif;
    font-size: 1.5em;
    margin: 20px;
    margin-top: 40px;
}

.ticks {
    color: black;
    font-family: serif;
    font-size: 4.2em;
    margin-top: -54px;
}

.tick-labels {
    color: black;
    margin-left: 150px;
}

#quit {
    margin-top: -140px;
    float: right;
}

#play-again {
    margin-top: 30px;
    float: left;
}

/*m css
#circleCanvas{
	position: absolute;
    top: 220px;
    left: 6%;
}
#input-div{
    position: absolute;
	top: 200px;
    left: 57%;
}
button {
    background-color:  black;
    color: white;
    width: 400px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    margin-top: 20px;
    padding-top: 30px;
    font-family: shalma;
    font-size:  8.0em;
    outline: none;
    text-decoration: none;
    text-align: center;
    /* animation code from stack overflow */
    /*-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.input{
	font-size: 30px;
    margin: 10px;
    background-color:  black;
    text-align: center;
    padding: 10px;
    width: 120px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    margin-top: 10px;
    font-family: serif;
    font-size:  2.8em;
    outline: none;
    text-decoration: none;
}
#color-guide {
    height: 550px;
    width: 60px;
    float: right;
    text-align: center;
    padding-top: 60px;
    margin-right: 6%;
    margin-top: 21px;
    background: linear-gradient(to bottom, 
    #00cc66 0%, 
    #ff3300 14.29%,
    #ff6666 28.57%,
    #ff66ff 42.86%,
    #9966ff 57.14%,
    #6666ff 71.43%,
    #3399ff 85.71%,
    #99ccff 100%);
}
.color-guide-label {
    color: black;
    font-family: shalma;
    font-size: 8.0em;
    margin-top: -50px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: -100px;
    width: 100%;
    height: 10000px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
.modal-content {
    background-color: #fefefe;
    color: black;
    height: 600px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#instruction-message {
    color: black;
    font-family: serif;
    font-size: 1.5em;
    margin: 20px;
    margin-top: 80px;
}

.ticks {
    color: black;
    font-family: serif;
    font-size: 4.2em;
    margin-top: -54px;
}

.tick-labels {
    color: black;
    margin-left: 250px;
}

#quit {
    margin-top: 50px;
    float: right;
}

#play-again {
    margin-top: 50px;
    float: left;
}
*/

button:hover {
    animation-name: button-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#message {
	margin-top: 750px;
	margin-left: 150px;
}

#instructions-color-guide {
    height: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, 
    #00cc66 0%, 
    #ff3300 14.29%,
    #ff6666 28.57%,
    #ff66ff 42.86%,
    #9966ff 57.14%,
    #6666ff 71.43%,
    #3399ff 85.71%,
    #99ccff 100%);
}
/* modal css */
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal-content a {
    color: black;
    font-family: shalma;
    font-size:  10.0em;
    outline: none;
    text-decoration: none;
    text-align: center;
    margin-left: 200px;
    margin-right: 240px;
    margin-top: -120px;

    /* animation code from stack overflow */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.modal-content a:hover {
    animation-name: title-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#win-message, #lose-message {
    color: black;
    font-family: serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: -200px;
}

#win, #lose, #error {
    text-align: center;
    font-family: motley-forces;
    margin-top: 100px;
    font-size:  10.0em;

    animation-name: title-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#error-message {
    color: black;
    font-family: shalma;
    font-size: 12.5em;
    text-align: center;
    margin-top: -180px;
}

#error-message-continued {
    color: black;
    font-family: serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: -220px;
}
